<form #f="ngForm" (ngSubmit)="crearProducto()">
    <div>
        <label>Nombre: </label>
        <input type="text" name="nombre" [(ngModel)]="producto.productoDTO.nombre" required />
    </div>
    <div>
        <label>Descripcion: </label>
        <textarea name="descripcion" [(ngModel)]="producto.descripcion" required></textarea>
    </div>
    <div>
        <label>Precio: </label>
        <input type="number" name="precio" [(ngModel)]="producto.precio" required />
    </div>
    <div>
        <label>Unidades: </label>
        <input type="number" name="unidades" [(ngModel)]="producto.unidades" required />
    </div>
    <div>
        <label>Imagen: </label>
        <input type="file" name="imagenes" (change)="onFileChange($event)" multiple />
    </div>
    <div>
        <label>Categoría: </label>
        <select name="categoria" [(ngModel)]="categoriaSeleccionada" required>
            <option value="" selected>Seleccione una categoría</option>
            <option *ngFor="let item of categorias" [value]="item">{{item}}</option>
        </select>
        <button type="button" (click)="agregarCategoria()">Agregar categoría</button>
        <ul>
            <li *ngFor="let categoria of categoriasSeleccionadas">
                {{categoria}} <button type="button" (click)="eliminarCategoria(categoria)">Eliminar</button>
            </li>
        </ul>
    </div>
    <div>
        <label>Ciudad: </label>
        <select name="ciudad" [(ngModel)]="ciudadSeleccionada" required>
            <option value="" selected>Seleccione una ciudad</option>
            <option [value]="item" *ngFor="let item of ciudades">{{item}}</option>
        </select>
        <button type="button" (click)="agregarCiudad()">Agregar ciudad</button>
        <ul>
            <li *ngFor="let ciudad of ciudadesSeleccionadas">
                {{ciudad}} <button type="button" (click)="eliminarCiudad(ciudad)">Eliminar</button>
            </li>
        </ul>
    </div>
    <button type="submit" [disabled]="f.invalid" class="btn btn-primary"><i class="fa-solid
        {{esEdicion ? 'fa-pencil' : 'fa-circle-plus'}} me-1"></i>{{ esEdicion ? 'Editar' : 'Crear' }}
        Producto</button>
</form>