<div class="container">
    <div class="row">
      <div *ngFor="let producto of productos" class="col">
        <div class="card p-3 mb-3">
          <h2>{{producto.productoGetDTO.nombre}}</h2>
          <img [src]="producto.productoGetDTO.imagenes[0]" alt="{{producto.productoGetDTO.nombre}}">
          <p>{{producto.descripcion}}</p>
          <p>{{producto.precio}}</p>
          <p>{{producto.productoGetDTO.categoria.join(", ")}}</p>
          <p>{{producto.productoGetDTO.ciudad.join(", ")}}</p>
        </div>
      </div>
    </div>
  </div>
  